###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

# Documents
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.markdown   text
*.md         text
*.mdwn       text
*.mdown      text
*.mkd        text
*.mkdn       text
*.mdtxt      text
*.mdtext     text

# Archives
*.7z  binary
*.gz  binary
*.jar binary
*.rar binary
*.tar binary
*.zip binary
